regression_nmsl_39/*.npy
regression_nmsl_39/*.svg
regression_nmsl_39/*.log

regression_nmsl_39/Models/*.pkl
regression_nmsl_39/Models/*.pth

regression_nmsl_39/Experiment/*.fmap
regression_nmsl_39/Experiment/*.npy
regression_nmsl_39/Experiment/*